PORT=3001
NODE_ENV=production
XML_URL=https://ycf.partsauto.market/partsauto-feeds/drom_feeds/cb9901e562a4f410bd4f9bf80c21d094.xml
CACHE_DURATION=300000
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=antoinette.dibbert96@ethereal.email
SMTP_PASS=qgFc4F8DzdYax1dumh
MANAGER_EMAIL=antoinette.dibbert96@ethereal.email
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=